__pycache__
.env
.learn

#Entorno virtual
env/
data/*
data/data_streamlit_titles.csv

!/.gitignore  # Opcional, para que el .gitignore dentro de /data no se ignore si lo creas

/src/*
# Asegura que no se suban datasets pesados, imágenes o etiquetas generadas
!/src/app.py
!/src/explore.ipynb


# Excepciones opcionales: si quieres mantener estructura
!/data/.keep  # Puedes crear un archivo vacío para conservar la carpeta